@tailwind base;
@tailwind components;
@tailwind utilities;

.mainLayout {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  max-width: 100ch;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 24px;
}

table {
  box-sizing: border-box;
  border-collapse: collapse;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border: 1px solid rgb(208, 215, 222);
}

thead,
tfoot {
  background-color: rgb(246, 248, 250);
  color: rgb(99, 108, 118);
  align-items: center;
  font-weight: 600;
}

th,
td {
  font-size: 12px;
  line-height: 18px;
  padding: 8px 16px 8px 12px;
  border-bottom: 1px solid rgb(208, 215, 222);
}

tr:hover {
  background-color: #d0d7de33;
}

th,
td {
  text-align: left;
}
